{
  "env": {
    "registry": {
      "presets": [
          [
              "@babel/env",
              {
                  "targets": {
                      "node": "8.15"
                  }
              }
          ],
          "@babel/typescript"
      ],
      "plugins": [
          "@babel/proposal-class-properties",
          "@babel/proposal-object-rest-spread"
      ]
    },
    "registry-docker": {
      "registry": {
        "presets": [
            [
                "@babel/env",
                {
                    "targets": {
                        "node": "10"
                    }
                }
            ],
            "@babel/typescript"
        ],
        "plugins": [
            "@babel/proposal-class-properties",
            "@babel/proposal-object-rest-spread"
        ]
      },
    },
    "development": {}
  }
}
